/**----------------------------------------------------------
---------ESTILO DE FORMULARIO PARA AGREGAR <GRUPOS, CONVOCATORIAS, PROYECTOS, PRODUCTOS, EMPRESAS, LINEAS, SUBLINEAS...> ------------------
-------------------------------------------------------------
-----------------------------------------------------------**/
#form-grupos fieldset, 
#form-convocatorias fieldset,
#form-proyectos fieldset,
#form-productos fieldset,
#f-lista-financiamiento fieldset,
#form-tipogrupo fieldset,
#form-lineas fieldset,
#form-sublineas fieldset,
#form-empresas fieldset,
#form-tipoproducto fieldset,
#form-subtipoproducto fieldset,
#form-financiamiento-proyectos fieldset,
#form-eventos-noticias fieldset,
#form-investigadores fieldset,
#form-periodos-academicos fieldset{
	background-color: white;
    border:1px solid #E1E1E1;
    border-radius: 15px;
    box-shadow:0 0 10px #E1E1E1;
    margin: 18px;
    padding-bottom: 10px;
}


#form-grupos #advertencias p,
#f-lista-financiamiento p{
    color:#1c7e84;
    font-size:11px; 
}

#form-grupos ul, 
#form-convocatorias ul,
#form-proyectos ul,
#form-productos ul,
#form-financiamiento-proyectos ul,
#form-tipogrupo ul,
#form-lineas ul,
#form-sublineas ul,
#form-empresas ul,
#form-tipoproducto ul,
#form-subtipoproducto ul,
#form-eventos-noticias ul,
#form-investigadores ul,
#form-periodos-academicos ul {
    width:100%;
    list-style-type:none;
    margin:0px;
    padding:0px;
}

#form-grupos li, 
#form-convocatorias li,
#form-proyectos li,
#form-productos li,
#form-financiamiento-proyectos li,
#form-tipogrupo li,
#form-lineas li, 
#form-sublineas li,
#form-empresas li,
#form-tipoproducto li,
#form-subtipoproducto li,
#form-eventos-noticias li,
#form-investigadores li,
#form-periodos-academicos li{
    padding:7px; 
    position:relative;
} 

#form-grupos label,
#form-convocatorias label,
#form-tipogrupo label{
	color: #333;
    display: inline-block;
    float: left;
    font-family: sans-serif, Arial, Verdana, Helvetica;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 130px;
}

#form-proyectos label,
#form-productos label,
#form-financiamiento-proyectos label,
#form-lineas label,
#form-sublineas label,
#form-empresas label,
#form-tipoproducto label,
#form-subtipoproducto label,
#form-eventos-noticias label,
#form-investigadores label,
#form-periodos-academicos label{
	color: #333;
    display: inline-block;
    float: left;
    font-family: sans-serif, Arial, Verdana, Helvetica;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 175px;
} 

#form-grupos input, #form-grupos select,
#form-convocatorias input, #form-convocatorias select,
#form-proyectos input, #form-proyectos select,
#form-productos input, #form-productos select,
#form-financiamiento-proyectos input, #form-financiamiento-proyectos select,
#form-tipogrupo input,
#form-lineas input,
#form-sublineas input, #form-sublineas select,
#form-empresas input,
#form-tipoproducto input,
#form-subtipoproducto input, #form-subtipoproducto select,
#form-eventos-noticias input, #form-eventos-noticias select,
#form-investigadores input, #form-investigadores select,
#form-periodos-academicos input, #form-periodos-academicos select {
    height:auto; 
    width: 600px; 
    padding:5px 5px;
}

#form-grupos textarea, 
#form-convocatorias textarea,
#form-proyectos textarea,
#form-productos textarea, 
#form-financiamiento-proyectos textarea,
#form-lineas textarea,
#form-sublineas textarea,
#form-empresas textarea,
#form-tipoproducto textarea,
#form-subtipoproducto textarea,
#form-eventos-noticias textarea,
#form-investigadores textarea {
    padding:8px; 
    width: 700px;
    min-height: 150px;
}

#form-grupos input, #form-grupos textarea, #form-grupos select,
#form-convocatorias input, #form-convocatorias textarea,
#form-proyectos input, #form-proyectos textarea, #form-proyectos select,
#form-productos input, #form-productos textarea, #form-productos select,
#form-financiamiento-proyectos input, #form-financiamiento-proyectos textarea, #form-financiamiento-proyectos select,
#form-tipogrupo input,
#form-lineas input, #form-lineas textarea,
#form-sublineas input, #form-sublineas textarea, #form-sublineas select,
#form-empresas input, #form-empresas textarea,
#form-tipoproducto input, #form-tipoproducto textarea,
#form-subtipoproducto input, #form-subtipoproducto textarea, #form-subtipoproducto select,
#form-eventos-noticias input, #form-eventos-noticias textarea, #form-eventos-noticias select,
#form-investigadores input, #form-investigadores textarea, #form-investigadores select{ 
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #535353;
    font-size: 13px;
    padding-right:30px;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}

#form-grupos input:focus, #form-grupos textarea:focus,
#form-convocatorias input:focus, #form-convocatorias textarea:focus,
#form-proyectos input:focus, #form-proyectos textarea:focus,
#form-productos input:focus, #form-productos textarea:focus,
#form-financiamiento-proyectos input:focus, #form-financiamiento-proyectos textarea:focus,
#form-tipogrupo input:focus,
#form-lineas input:focus, #form-lineas textarea:focus,
#form-sublineas input:focus, #form-sublineas textarea:focus,
#form-empresas input:focus, #form-empresas textarea:focus,
#form-tipoproducto input:focus, #form-tipoproducto textarea:focus,
#form-subtipoproducto input:focus, #form-subtipoproducto textarea:focus,
#form-eventos-noticias input:focus, #form-eventos-noticias textarea:focus,
#form-investigadores input:focus, #form-investigadores textarea:focus,
#form-periodos-academicos input:focus, #form-periodos-academicos textarea:focus {
    background: #fff;  , 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
    padding-right:80px;
}

#form-grupos input[type="file"],
#form-convocatorias input[type="file"],
#form-proyectos input[type="file"],
#form-productos input[type="file"],
#form-lineas input[type="file"],
#form-eventos-noticias input[type="file"],
#form-investigadores input[type="file"]  {
	width: 600px;
	padding-left: 5px; 
}

/**---------------titulo de formularios---------------------**/
#form-grupos #titulo, 
#form-convocatorias #titulo, 
#form-proyectos #titulo,
#form-productos #titulo,
#form-financiamiento-proyectos #titulo,
#form-tipogrupo #titulo,
#form-lineas #titulo,
#form-sublineas #titulo,
#form-empresas #titulo,
#form-tipoproducto #titulo,
#form-subtipoproducto #titulo,
#form-eventos-noticias #titulo,
#form-investigadores #titulo,
#form-periodos-academicos #titulo{
    width: auto;
    margin: 0 5px 0 5px; 
}

#form-grupos #titulo h2, 
#form-convocatorias #titulo h2,
#form-proyectos #titulo h2,
#form-productos #titulo h2,
#form-financiamiento-proyectos #titulo h2,
#form-tipogrupo #titulo h2,
#form-lineas #titulo h2,
#form-sublineas #titulo h2,
#form-empresas #titulo h2,
#form-tipoproducto #titulo h2,
#form-subtipoproducto #titulo h2,
#form-eventos-noticias #titulo h2,
#form-investigadores #titulo h2,
#form-periodos-academicos #titulo h2{
    color: #1c7e84; /*tono verde de todo #20B2AA*/
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    margin: 10px;
    text-shadow: 1px 1px 1px #AFEEEE;
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 5px;
    border-bottom: 1px solid #DCDCDC;
    width: auto;
}

#form-grupos h2 img,
#form-convocatorias h2 img,
#form-proyectos h2 img,
#form-productos h2 img,
#form-financiamiento-proyectos h2 img,
#form-tipogrupo h2 img,
#form-lineas h2 img,
#form-sublineas h2 img,
#form-empresas h2 img,
#form-tipoproducto h2 img,
#form-subtipoproducto h2 img,
#form-eventos-noticias h2 img,
#form-investigadores h2 img,
#form-periodos-academicos h2 img{
	margin-right: 5px;
}


#form-grupos input:required:valid, #form-grupos textarea:required:valid, 
#form-convocatorias input:required:valid, #form-convocatorias textarea:required:valid,
#form-proyectos input:required:valid, #form-proyectos textarea:required:valid,
#form-productos input:required:valid, #form-productos textarea:required:valid,
#form-financiamiento-proyectos input:required:valid, #form-financiamiento-proyectos textarea:required:valid,
#form-tipogrupo input:required:valid,
#form-lineas input:required:valid, #form-lineas textarea:required:valid,
#form-sublineas input:required:valid, #form-sublineas textarea:required:valid,
#form-empresas input:required:valid, #form-empresas textarea:required:valid,
#form-tipoproducto input:required:valid,
#form-subtipoproducto input:required:valid,
#form-eventos-noticias input:required:valid,
#form-investigadores input:required:valid,
#form-periodos-academicos input:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

/***Boton de enviar -- reset***/
#form-grupos #crear-grupo, #reset-button,
#form-convocatorias #crear-convocatoria,#reset-button,
#form-proyectos #crear-proyecto, #reset-button,
#form-productos #crear-producto,#reset-button,
#form-financiamiento-proyectos #agregar-financiamiento, #form-financiamiento-proyectos #reset-button,
#form-lineas #crear-linea,
#form-sublineas #crear-sublinea,
#form-empresas #crear-empresa, #form-empresas #reset-button,
#form-tipoproducto #crear-tipoproducto, #form-tipoproducto #guardar-tipoproducto, #form-tipoproducto #reset-button,
#form-tipogrupo #crear-tipogrupo, #form-tipogrupo #guardar-tipogrupo,
#form-subtipoproducto #crear-subtipoproducto, #form-subtipoproducto #guardar-subtipoproducto, #form-subtipoproducto #reset-button,
#form-eventos-noticias #crear-even-noti, #form-eventos-noticias #reset-button,
#form-investigadores #crear-investigador, #form-investigadores #reset-button, 
#form-periodos-academicos #crear-periodo, #form-periodos-academicos #reset-button{
	background:#276B6F; 
    background-image: -webkit-linear-gradient(top,#276B6F,#5BA9AE);
    background-image: -moz-linear-gradient(top,#276B6F,#5BA9AE);
    background-image: -o-linear-gradient(top,#276B6F,#5BA9AE);  
    background-image: linear-gradient(to bottom,#276B6F,#5BA9AE);  
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#276B6F, endColorstr=#5BA9AE);  
    border: 1px solid #276B6F;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;  
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #5BA9AE inset;
    -webkit-box-shadow: 0 1px 1px #5BA9AE inset;
    -o-box-shadow: 0 1px 1px #5BA9AE inset; 
    box-shadow: 0 1px 1px #5BA9AE inset;
    padding: .5em 1.1em;
    color: white;
    font-weight:normal;
    text-decoration:none;
    font-weight:bold;
    font-family: sans-serif, Arial, Verdana, Helvetica;
}   

#botones-formularios th#crear{
    float: left;
    margin-left: 20px;
    margin-bottom:;
}


#botones-formularios th#borrar{
    float: left;
    margin-left: 50px;
}

#form-grupos #reset-button:hover, 
#form-convocatorias #reset-button:hover,
#form-proyectos #reset-button:hover, 
#form-productos #reset-button:hover,
#form-lineas #reset-button:hover,
#form-sublineas #reset-button:hover,
#form-empresas #reset-button:hover,
#form-tipoproducto #reset-button:hover,
#form-subtipoproducto #reset-button:hover,
#form-financiamiento-proyectos #reset-button:hover,
#form-convocatorias #reset-button:hover,
#form-eventos-noticias #reset-button:hover,
#form-investigadores #reset-button:hover,
#form-periodos-academicos #reset-button:hover{
    background:#1A5DB3;
    background-image: -webkit-linear-gradient(bottom,#5BA9AE,#1A5DB3);
    background-image: -moz-linear-gradient(bottom,#5BA9AE,#1A5DB3);
    background-image: -o-linear-gradient(bottom,#5BA9AE,#1A5DB3);   
    background-image: linear-gradient(to top,#5BA9AE,#1A5DB3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A5DB3, endColorstr=#5BA9AE);
    cursor: pointer;
}

#form-grupos #crear-grupo:hover,
#form-convocatorias #crear-convocatoria:hover, 
#form-proyectos #crear-proyecto:hover,
#form-productos #crear-producto:hover,
#form-financiamiento-proyectos #guardar-financiamiento:hover, #form-financiamiento-proyectos #agregar-financiamiento:hover,
#form-tipogrupo #crear-tipogrupo:hover, #guardar-tipogrupo:hover,
#form-lineas #crear-linea:hover,
#form-sublineas #crear-sublinea:hover,
#form-empresas #crear-empresa:hover,
#form-tipoproducto #crear-tipoproducto:hover,#guardar-tipoproducto:hover,
#form-subtipoproducto #crear-subtipoproducto:hover, #guardar-subtipoproducto:hover,
#form-eventos-noticias #crear-even-noti:hover,
#form-investigadores #crear-investigador:hover,
#form-periodos-academicos #crear-periodo:hover{
    background:#1A5DB3;
    background-image: -webkit-linear-gradient(bottom,#5BA9AE,#1A5DB3);
    background-image: -moz-linear-gradient(bottom,#5BA9AE,#1A5DB3);
    background-image: -o-linear-gradient(bottom,#5BA9AE,#1A5DB3);   
    background-image: linear-gradient(to top,#5BA9AE,#1A5DB3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A5DB3, endColorstr=#5BA9AE);
    cursor: pointer;
}


/*arreglar tamaño del input de ingresar valores en convocatorias*/
input#cuantia-conv{
	width: 585px;
	display: table-cell;
}

/*arreglar el legend en formulario-proyectos*/
#form-proyectos legend{
	background: #FF9;
	border: solid 1px black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 6px;
}

/*---------------------
modal-- <<Agregar integrantes, lineas y sublineas>>
------------------*/
input#integrantes-grupos, 
input#lineas-grupos,
input#integrantes-proyectos, 
input#tiempo-proyecto,
input#integrantes-producto,
input#grupo-producto,
input#tipo-investigador{
	width: 300px;
	margin-left:10px;
}

table#tabla-integrantes-grupos,
table#tabla-lineas-grupos, 
table#tabla-tipo-grupos,
table#tabla-proyecto-financiado {
	color: #333;
	font-size: .9em;
	font-weight: 300;
	text-align: left;
	line-height: 40px;
	border-spacing: 0;
	border: 1px solid #DCDCDC;
	width: 900px;
	margin-right: 6px auto;
}

table#tabla-financiamiento-grupos,
table#tabla-integrantes-proyectos,
table#tabla-integrantes-productos, 
table#tabla-tipo-productos,
table#tabla-subtipo-productos,
table#tabla-periodos-academicos
{
    color: #333;
    font-size: .9em;
    font-weight: 300;
    text-align: left;
    line-height: 40px;
    border-spacing: 0;
    border: 1px solid #DCDCDC;
    border-left: none;
    width: 900px;
    margin-right: 6px auto;   
}

#tabla-integrantes-grupos thead tr:first-child,
#tabla-integrantes-proyectos thead tr:first-child,
#tabla-lineas-grupos thead tr:first-child,
#tabla-financiamiento-grupos thead tr:first-child,
#tabla-tipo-grupos thead tr:first-child,
#tabla-integrantes-productos thead tr:first-child,
#tabla-tipo-productos thead tr:first-child,
#tabla-subtipo-productos thead tr:first-child,
#tabla-proyecto-financiado thead tr:first-child,
#tabla-periodos-academicos thead tr:first-child  {
	background: #1A6D71;
	color: #fff;
	border: none;
}

 #tabla-integrantes-grupos th,
 #tabla-integrantes-proyectos th,
 #tabla-lineas-grupos th,
 #tabla-financiamiento-grupos th,
 #tabla-tipo-grupos th,
 #tabla-integrantes-productos th,
 #tabla-tipo-productos th,
 #tabla-subtipo-productos th,
 #tabla-proyecto-financiado th,
 #tabla-periodos-academicos th{
 	font-weight: bold;
 }

 #tabla-integrantes-grupos th:first-child, td:first-child, 
 #tabla-integrantes-proyectos th:first-child, td:first-child,
 #tabla-lineas-grupos th:first-child, td:first-child,
 #tabla-financiamiento-grupos th:first-child, td:first-child,
 #tabla-tipo-grupos th:first-child, td:first-child,
 #tabla-integrantes-productos th:first-child, td:first-child,
 #tabla-tipo-productos th:first-child, td:first-child,
 #tabla-subtipo-productos th:first-child, td:first-child,
 #tabla-proyecto-financiado  th:first-child, td:first-child,
 #tabla-periodos-academicos  th:first-child, td:first-child {
 	padding: 0 15px 0 20px;
 }

 #tabla-integrantes-grupos thead tr:last-child th, 
 #tabla-integrantes-proyectos thead tr:last-child th,
 #tabla-lineas-grupos thead tr:last-child th,
 #tabla-financiamiento-grupos thead tr:last-child th,
 #tabla-tipo-grupos thead tr:last-child th,
 #tabla-integrantes-productos thead tr:last-child th,
 #tabla-tipo-productos thead tr:last-child th,
 #tabla-subtipo-productos thead tr:last-child th,
 #tabla-proyecto-financiado thead tr:last-child th ,
 #tabla-periodos-academicos  thead tr:last-child th {
    border-bottom: 2px solid #ddd;
}

 #tabla-integrantes-grupos tbody tr:hover, 
 #tabla-integrantes-proyectos tbody tr:hover,
 #tabla-lineas-grupos tbody tr:hover,
 #tabla-financiamiento-grupos tbody tr:hover, 
 #tabla-tipo-grupos tbody tr:hover,
 #tabla-integrantes-productos tbody tr:hover,
 #tabla-tipo-productos tbody tr:hover,
 #tabla-subtipo-productos tbody tr:hover,
 #tabla-proyecto-financiado  tbody tr:hover,
 #tabla-periodos-academicos  tbody tr:hover{
    background-color: #E5F7FE;
}
 #tabla-integrantes-grupos tbody tr:last-child td, 
 #tabla-lineas-grupos tbody tr:last-child td,
 #tabla-tipo-grupos tbody tr:last-child td,
 #tabla-integrantes-productos tbody tr:last-child td,
 #tabla-tipo-productos tbody tr:last-child td,
 #tabla-subtipo-productos tbody tr:last-child td,
 #tabla-proyecto-financiado tbody tr:last-child td,
 #tabla-periodos-academicos tbody tr:last-child td {
    border: none;
}

 #tabla-integrantes-grupos tbody td, 
 #tabla-integrantes-proyectos tbody td,
 #tabla-lineas-grupos tbody td,
 #tabla-financiamiento-grupos tbody td,
 #tabla-tipo-grupos tbody td,
 #tabla-integrantes-productos tbody td,
 #tabla-tipo-productos tbody td,
 #tabla-subtipo-productos tbody td,
 #tabla-proyecto-financiado tbody td,
 #tabla-periodos-academicos tbody td {
    border-bottom: 1px solid #ddd;
}

 #tabla-integrantes-grupos td:last-child,
 #tabla-integrantes-proyectos td:last-child, 
 #tabla-lineas-grupos td:last-child,
 #tabla-tipo-grupos td:last-child, 
 #tabla-integrantes-productos td:last-child,
 #tabla-proyecto-financiado td:last-child,
 #tabla-periodos-academicos  td:last-child {
	text-align: right;
	padding-right: 10px;
}

 #tabla-integrantes-grupos .button, 
 #tabla-integrantes-proyectos .button,
 #tabla-lineas-grupos .button,
 #tabla-proyecto-financiado .button{
	color: #1A6D71;
	text-align: center;
	text-decoration: none;
	padding-left: 15px;
}

 #tabla-integrantes-grupos .button:hover, 
 #tabla-integrantes-proyectos .button:hover,
 #tabla-lineas-grupos .button:hover,
 #tabla-subtipo-productos .button:hover,
 #tabla-tipo-productos .button:hover,
 #tabla-financiamiento-grupos .button:hover,
 #tabla-proyecto-financiado .button:hover,
 #tabla-periodos-academicos .button:hover{
	text-decoration: underline;
	cursor: pointer;
	color: #2C3333;
}

