/* ===================================
General
==================================== */
* { margin: 0; padding: 0; outline: 0;}

body, html { 
    height: 100%;
}

html{
display: block;
background-color:#eee;
}

body {
    font-size: 12px;
    line-height: 22px;
    font-family: sans-serif, Arial, Verdana, Helvetica;
}

header{
    margin:0 auto;
    display: block;
}


.contenedor{
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    background-color:white;
    

}

#cuadro{
    work-break: break-all;
    -ms-word-break: break-all;
    word-break: break-word;  

}

.cl{  
    display: block; 
    height: 0; 
    font-size: 0; 
    line-height: 0; 
    text-indent: -4000px; 
    clear: both; 
}
/* ===================================
Encabezado
==================================== */
.capa-cabeza{
    font-family: sans-serif, Arial, Verdana, Helvetica;
    background: #ebebeb url(../images/header-bg.jpg) center top repeat-x;
    color: #000;
    height: 135px;
    padding: 15px 15px 9px 15px;
    margin-top: 5px;
}

.elementos-cabecera{
    float: right;
    text-align: left;
    width: 44%;
}

#logo-encabezado{
    color: #FFF;
    float: left;
}
#logo-encabezado img{
    margin: 5px 0;
    padding-left: 18px;

}
#fecha-encabezado{
    color: rgb(151, 151, 151);
    clear: none;
    font-size: 1.1em;
    height: 20px;
    text-align: right;
}

#fecha-encabezado p{
    font-family: sans-serif, Arial, Verdana, Helvetica;
}

#ingreso-encabezado{
    text-align: right;
    margin-top: 60px;
}

#ingreso-encabezado a{
    color: #2A0505;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    padding: 2px;
    border-left: 1px solid #2A0505;
}
/* ===================================
Menu de navegacion
==================================== */
#menu { 
    font-family: sans-serif, Arial, Verdana, Helvetica;
    text-align: center;
    font-size: 13px;
    width: 900px;
    margin: 5px auto;
    clear: none;
}
#menu ul { 
    list-style-type: none;
}

#menu ul li.nivel1 { 
    float: left;
    width: auto;
    margin-right: 2px;
}

#menu ul li a {
    border: 1px solid #122d3e; /* Color del borde */
    background:#122d3e; /* Fondo */ 
    box-shadow:inset 2px 2px 4px rgba(120, 120, 120, .4), inset -3px -3px 3px rgba(255,255,255,.4);
    text-shadow: 1px 1px rgba(0,0,0,.3);  /* Sombra del texto */
    text-align: center;  /* Alineación del texto */
    color:#fff;   
    position: relative;
    display: block;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    font-size:12px;

}

#menu ul li:hover {
    position: relative;
}

#menu ul li a:hover, #menu ul li:hover a.nivel1 {
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
    border: 1px solid #015892; /* Borde */
    background: #015892;  /* Fondo */
    text-align: center;  /* Alineación del texto */
    text-shadow: -1px -1px rgba(0,0,0,.2);  /* Sombra del texto */
    color: white;  /* Color del texto */
}

#menu ul li a.nivel1 {display: block!important;display: none;
    position: relative;
}
#menu ul li ul {display: none;
}
#menu ul li a:hover ul, #menu ul li:hover ul {
    display: block;
    position: absolute;
    left: 0px;
    z-index: 200;
    background-color:transparent;
    border-color:transparent;
}
#menu ul li ul li a {
    width: 240px;
    padding: 7px 1px 8px 0px;
    border-top-color: #122d3e;
}
#menu ul li ul li a:hover {
    border-top-color: #0072BC;
    position: relative;
}
table.falsa {
    border-collapse:collapse;
    border:0px;
    float: left;
    position: relative;
}

/* ===================================
Cuerpo
==================================== */

/*fecha convocatoria*/
.convocatoria{
    font-size: 14px;
    font-weight: bold;
}

.convocatoria span{
    font-weight:bold;
    font-size:13px;
    font-family:sans-serif, Arial, Verdana, Helvetica;
    padding:3px;
    margin-top: 15px;
    -webkit-border-radius: .5em ; 
    -moz-border-radius: .5em ;
    border-radius: .5em ;
    -webkit-box-shadow: #aaa 1px 1px 6px;
     -moz-box-shadow: #aaa 1px 1px 6px;
     box-shadow: #aaa 1px 1px 6px;
 
}

/* ===================================
Parte despues del slider
==================================== */
#contenedor-cuerpo-principal{
  margin: 2px 0px 2px 10px;
  padding: 5px 5px 5px 0;
      font-family: sans-serif, Arial, Verdana, Helvetica;
}

#contenedor-cuerpo-principal #enunciado{
  border-radius: 8px;
  border: 1px solid #122d3e;
  background: #122d3e;
  height: 35px;
  box-shadow: inset 2px 2px 4px rgba(120, 120, 120, .4), inset -3px -3px 3px rgba(255,255,255,.4);
  text-shadow: 1px 1px rgba(0,0,0,.3);
  margin-bottom: 15px;
}

#contenedor-cuerpo-principal #enunciado p{
  color:white;
  line-height:30px;
  font-size: 15px;
  font-weight: bold;  
  text-align: center;
} 

.calendario{
    margin-left: 18px;
}

.noticias{
    margin-top: 100px;
}


.holder_content {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom:8px;
    background:white;
    padding: 7px;
}

.group1 {
    float: left;
    width: 613px;
    position: relative;
    background:white;
    padding:15px;
    margin-bottom:10px;
}

.group2 {
    float: right;
    width: 277px;
    position: relative;
    background:white;
    padding:15px;
    margin-bottom:10px;
    margin-left:30px;
    margin-right:10px; 
}

.group3 {
    float: left;
    width: 613px;
    position: relative;
    background:white;
    padding:15px;
    margin-top:-28px;
}

.holder_news {
  width: 274px;
  float: left;
  border-bottom: 1px dotted black;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-bottom: 12px;
}

/*boton leer mas..*/
.ver-todo{
  float: right;
  margin-top: 60px;
  margin-right: 30px;
  font-weight:bold;
  font-size: 12px;
  text-decoration: underline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;"
}

/* ===================================
Pie de pagina
==================================== */
#pie-pagina { 
    padding: 10px 0 0 0;
}

#capa-pie{
    background: url(../images/bg-footer.jpg); 
    color: #FFF;
    margin: 0 0 10px 0;
    height: 120px;
    width:100%;
    display: flex;
    padding: 10px 43px;
}

#capa-pie p{
    color: #FFF;
    font-family: sans-serif, Arial, Verdana, Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    margin-left: 50px;
    padding: 0;
    text-align: center;
}