
/* ===================================
Estilo login
==================================== */
.body{
    width: 960px; 
    margin: 0 auto; 
    background: #FBFBFB;
}

.caja-login{
    font-family: Arial, Helvetica, sans-serif;
}

.form-required {
color: #f00;
}

form:after { 
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
} 
.container-login { margin: 10px auto; position: relative; width: 100%; } 
.container-login #content { 
    font-family: Arial, Helvetica, sans-serif;
    background: #f9f9f9;    
    border: 1px solid #c4c6ca; 
    margin: 0 auto; 
    padding: 25px 0 0; 
    position: relative; 
    text-align: center; 
    text-shadow: 0 1px 0 #fff; 
    width: 960px; 
} 
.container-login #content h1 { 
    color: #322C2D; 
    text-align: center;
    font: bold 25px Arial, Helvetica, sans-serif;;
    letter-spacing: -0.05em; 
    line-height: 25px; 
    margin: 10px 0 30px; 
} 
.container-login #content h1:before, 
.container-login #content h1:after { /*cuenta de usuario-- ubicarlo*/
    content: ""; 
    height: 1px; 
    position: absolute; 
    top: 20px; 
    width: 30%; 
} 
.container-login #content h1:after { 
    background: rgba(203,7,40,1); 
    background: -moz-linear-gradient(left,  rgba(203,7,40,1) 0%, rgba(255,255,255,1) 100%); 
    background: -webkit-linear-gradient(left,  rgba(203,7,40,1) 0%,rgba(255,255,255,1) 100%); 
    background: -o-linear-gradient(left,  rgba(203,7,40,1) 0%,rgba(255,255,255,1) 100%); 
    background: -ms-linear-gradient(left,  rgba(203,7,40,1) 0%,rgba(255,255,255,1) 100%); 
    background: linear-gradient(left,  rgba(203,7,40,1) 0%,rgba(255,255,255,1) 100%); 
    right: 0; 
} 
.container-login #content h1:before { 
    background: rgba(203,7,40,1); 
    background: -moz-linear-gradient(right,  rgba(203,7,40,1) 0%, rgba(255,255,255,1) 100%); 
    background: -webkit-linear-gradient(right,  rgba(203,7,40,1) 0%,rgba(255,255,255,1) 100%); 
    background: -o-linear-gradient(right, rgba(203,7,40,1) 0%,rgba(255,255,255,1) 100%); 
    background: -ms-linear-gradient(right,  rgba(203,7,40,1)0%,rgba(255,255,255,1) 100%); 
    background: linear-gradient(right,  rgba(203,7,40,1)0%,rgba(255,255,255,1) 100%); 
    left: 0; 
} 
.container-login #content:after, 
.container-login #content:before { 
    background: #f9f9f9; 
    border: 1px solid #c4c6ca; 
    display: block; 
    height: 100%; 
    left: -1px; 
    position: absolute; 
    width: 100%; 
} 

.container-login #content form { margin: 0 20px; position: relative } 
.container-login #content form input[type="text"], 
.container-login #content form input[type="email"], 
.container-login #content form input[type="password"] { 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -ms-border-radius: 5px; 
    -o-border-radius: 5px; 
    border-radius: 5px; 
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset; 
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset; 
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset; 
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset; 
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset; 
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease; 
    border: 1px solid #c8c8c8; 
    color: #322C2D; 
    font: 10px ; 
    margin: 0 0 5px; 
    padding: 15px 10px 15px 4px; 
    width: 30%;/*ubicacion de las entradas de usuario-contraseña*/} 

.container-login #content form input[type="text"]:focus,
.container-login #content form input[type="email"]:focus, , 
.container-login #content form input[type="password"]:focus { 
    -webkit-box-shadow: 0 0 2px #ed1c24 inset; 
    -moz-box-shadow: 0 0 2px #ed1c24 inset; 
    -ms-box-shadow: 0 0 2px #ed1c24 inset; 
    -o-box-shadow: 0 0 2px #ed1c24 inset; 
    box-shadow: 0 0 2px #ed1c24 inset; 
    background-color: #fff; 
    border: 1px solid #ed1c24; 
    
} 
#username { background-position: 10px 20px !important } 
#password { background-position: 10px -53px !important } 

/***Boton de ingresar***/
.container-login #content form input[type="submit"] { 
    background: #D82828;    
    border: 1px solid #FAEAEA; 
    color: #fff; 
    cursor: pointer;  
    border-radius: 6px;
    font: bold 15px Helvetica, Arial, sans-serif; 
    height: 35px; 
    margin: 20px 0 35px 15px; 
    position: relative; 
    
    overflow: visible;
} 
.container-login #content form input[type="submit"]:hover { 
    background: #060606; 
    color: #fff; 
    border-radius: 5px;

} 
.container-login #content form div a { 
    color: #004a80; 
    font-size: 12px; 
    margin: 30px 15px 0 0; 
    text-decoration: underline; 
} 
