#titulo-infgrupos{
    width: auto;
    margin:0;
}

fieldset{
  padding: 5px;
}

#titulo-infgrupos h2{
   font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
   text-align: left;
   font-weight: bold;
   color:#1C7E8A;
   display: block;
   font-size:24px;
   text-transform: uppercase;
   text-shadow: 1px 1px 1px #AFEEEE;
   background: none repeat scroll 0 0 #f3f3f3;
   border-radius: 5px;
   border-bottom:  1px solid #DCDCDC;
   width: auto;
   padding:2px;

}

#titulo-infgrupos h2 img{
    position: relative;
    right: -370px;
    width: 200px;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:0 0 20px #ccc;
    -moz-box-shadow:0 0 20px #ccc ;
    box-shadow:0 0 20px #ccc;
}

.tabla-infgrupos {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    border-spacing: 1px;
    text-align: left;
    font-style:normal;
    margin: 20px auto;
    width: 100%;
    color:#333;
}

.tabla-infgrupos th:first-child {
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tabla-infgrupos thead{
    cursor: pointer;
}

.tabla-infgrupos #fil-principal{
    width: 150px;
    padding:3px;
    border:1px solid #fff;
    border-width:0 1px 1px 0;
    padding-left: 10px;
}
.tabla-infgrupos #col-principal{
    width: 600px;
    padding:3px;
    border:1px solid #fff;
    border-width:0 2px 2px 0;
}

thead th {
    padding-bottom: 5px;
}
          
thead th[colspan],thead th[rowspan]{             /*************color de la cabecera de la tabla **/ 
    background:#1A6D71;
    text-align: left;
    text-transform: uppercase;
    padding-left: 10px;
    color: #FFF;
}

tbody th {                                      /**********color de la colunma de los datos principales*  #EEFCF9*/            
    text-align:left;
    background:#F6FAF9;
    margin: 30px;
}
        
tbody td{
    text-align:left;
    background:#F6FAF9;
    margin: 20px;
}
        
tbody tr.odd td { 
    background:#F6FAF9;
}

/*------PARTE INFERIOR BOTONES DESPLEGABLES DE INFORMACION DE LOS GRUPOS------------------*/

ul.galeria-grupos li{
    display: block;
    margin-bottom: 1px;
    text-indent: 10px;
}

ul.galeria-grupos li a{
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bolder;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

ul.galeria-grupos li a:hover,
ul.galeria-grupos li a.active{
    text-decoration: underline;
}

h4.boton-grupos{
    color: #fff;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-weight: bold;
}


