/*Botones de paginacion*/
#form-grupos1 ul.pagination li.active > span,
#form-proyectolinea ul.pagination li.active>span,
#form-integrantegrupos ul.pagination li.active>span,
#form-proyectosgrupos ul.pagination li.active>span,
#form-proyectogrupos ul.pagination li.active>span,
#form-proyectolineas ul.pagination li.active>span{
    border-color:#122d3e;
    background:#122d3e;
}

#buscador-lista1{
  margin: 30px;
  margin-left: 130px;
}

#form-convocatorias1 input.form-control
{
  display: inline-block;
  width: 600px;
}

table
{
border-collapse: collapse;
}

#tabla-listalineas1,
#tabla-listaconvocatorias1,
#tabla-listagrupos1,
#tabla-noticias,
#tabla-listaintegrantegrupos,
#tabla-listaproductosgrupos,
#tabla-listaproyectogrupos,
#tabla-eventos,
#tabla-listaproyectolineas
{
  max-width: 960px;
}

#titulo-listalineas1 h2,
#titulo-listaconvocatoria1 h2,
#titulo-listagrupo1 h2,
#titulo-noticias1 h2,
#titulo-listaproductolinea h2,
#titulo-listaintegrantegrupo h2,
#titulo-listaproductosgrupo h2,
#titulo-listaproyectogrupo h2,
#titulo-noticias h2,
#titulo-listaeventos h2,
#titulo-listaproyectolinea h2
{
  text-align:right;
  padding-right: 30px; 
  padding-top: 10px;
  font-family:Arial, Helvetica, sans-serif;;
  font-size: 30px;
  color: #122d3e;
  font-weight: bold;
  margin-left:59px;
  text-shadow: 1px 1px 1px #AFEEEE;
  background: none repeat scroll 0 0 #F3F3F3;
  border-radius: 5px;
  border-bottom: 1px solid #DCDCDC;
  width: 830px;
}

table#listalineas1,
table#listaconvocatorias1,
table#listagrupos1,
table#listanoticias,
table#listagrupos,
table#listaeventos
{
  border-collapse: inherit;
  color: #333;
  font-family: sans-serif;
  font-size: .9em;
  text-align: left;
  line-height: 40px;
  border-spacing: 0;
  border: 1px solid #CED6D0;
  width: 900px;
  margin: 28px auto;
}

table#listalineas1 th,
table#listaconvocatorias1 th,
table#listagrupos1 th,
table#listanoticias th,
table#listagrupos th,
table#listaeventos th
{
  font-weight: bold;
  font-size: 15px;
}

table#listalineas1 th:first-child, td:first-child,
table#listaconvocatorias1 th:first-child, td:first-child,
table#listagrupos1 th:first-child, td:first-child,
table#listanoticias th:first-child, td:first-child,
table#listagrupos th:first-child, td:first-child,
table#listaeventos th:first-child, td:first-child
{
  padding: 0 15px 0 20px;

}
 
table#listalineas1 thead tr:last-child th,
table#listagrupos1 thead tr:last-child th,
table#listanoticias thead tr:last-child th,
table#listagrupos thead tr:last-child th,
table#listaeventos thead tr:last-child th
{
  border-bottom: 2px solid #ddd; 
  background: #F8F9FE;
}

table#listaconvocatorias1 thead tr:last-child th,
table#listagrupos thead tr:last-child th
{
  border-bottom: 2px solid #ddd; 
  background: #F8F9FE;  
}
 
table#listalineas1 tr:hover,
table#listaconvocatorias1 tr:hover,
table#listagrupos1 tr:hover,
table#listanoticias tr:hover,
table#listagrupos tr:hover,
table#listaeventos tr:hover
{
  background-color: #ECEBEB;
}

table#listalineas1 tr:last-child td,
table#listaconvocatorias1 tr:last-child td,
table#listagrupos1 tr:last-child td,
table#listanoticias tr:last-child td,
table#listagrupos tr:last-child td,
table#listaeventos tr:last-child td
{
  border: none;
}

table#listalineas1 td,
table#listaconvocatorias1 td,
table#listagrupos1 td,
table#listanoticias td,
table#listagrupos td,
table#listaeventos td
{
  border-bottom: 1px solid #ddd;
}
 
table#listalineas1 tr,
table#listaconvocatorias1 tr,
table#listagrupos1 tr,
table#listanoticias tr,
table#listagrupos tr,
table#listaeventos tr
{
  background-color:#F8F9FE;
}

table#listalineas1 td:last-child,
table#listaconvocatorias1 td:last-child,
table#listagrupos1 td:last-child,
table#listanoticias td:last-child,
table#listagrupos td:last-child,
table#listaeventos td:last-child
{
  text-align: left;
  padding-right: 10px;
  word-wrap: normal;
}

.button {
  color: #16063E;
  text-align: center;
  text-decoration: none;
  padding-left: 15px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

ul.pagination li a{
  color:#1A6D71;
}

ul.pagination li.active > span{
    border-color:#1A6D71;
    background: #1A6D71;
}

ul.pagination li.active > span:hover{
    border-color:#1A6D71;
    background: #1A6D71;
}

/*Arreglo listas con integrantes*/
#listagrupos td#col1,
#listalineas1 td#col1,
#listaproductos td#col1{
  width: auto;
}
#listagrupos td#col2,
#listalineas1 td#col2,
#listaproductos td#col2{
  width: 390px;
  padding-right: 10px;
  margin-right: 5px;
  text-align: justify;
}
#listagrupos td#col3,
#listalineas1 td#col3,
#listaproductos td#col3
{
  width: 220px;
  padding-right: 5px;
  padding-left: 10px;
}
#listagrupos td#col4,
#listalineas1 td#col4{
  width: 220px;
  padding-left: 3px;
}