#cuerpo{

	width: 960px;
	position: relative;
	background-color:white;
	margin: 0 auto;

}

.encabezado{
	width: 100%;
	background-color:white; 
	border-bottom:2px solid  #F2F2F2;
	border-top: 2px solid  #F2F2F2;
}
.encabezado h1{
	margin: 5px;
	font-family: "Trebuchet MS";

}
#contenido{
	width: 100%;
	padding: 0;
	position: relative;
	z-index: 1;
}
.bg-1{
	width: 100%;
	padding: 20px 0 18px;
	/*fondo total espacio usado*/

}
.principal-grupos{
	width: 960px;  /*ancho en donde se encuentran las columnas*/
	padding: 0;
	margin: 0 auto;
	line-height: 1.428em;
	font-size: 0.875em;
}
#cuadro{

	word-wrap:break-word;
}
.envoltura-grupos{
	width: 100%;
	overflow: hidden; 

}
.fleft{
	float: left;
}
.caja-grupos{
	position: relative;
	width: 211px;
	height: 280px;
	margin: 3px;
	margin-bottom: 30px;         /*margen de las columnas*/
	padding: 12px 10px 20px 10px;
	text-align: center;
	background: -webkit-gradient(linear,center top, center bottom, from (#fff),to(#ccc));
	border: 1px solid gray;
	border-radius: 16px;
	box-shadow: 5px 5px 10px #999;

}

.titulo_1{
	font-size: 19px;
	display: block;
	font-family: "Trebuchet MS";
	text-transform: uppercase;
	color:#d82828;
}
.imagen{
	margin: 20px;
}
.boton{
    /*display: inline-block;*/
    position: absolute;
    bottom: 10px;

    font-size:15px;
    line-height: 20px;
    padding: 5px; /*padding margenes o limites a cada lado*/
    text-align: center;
    background-image: linear-gradient(#fff, #ccc);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5efef', EndColorStr='#898585');
    min-width: 70px;                                 /*propiedad para el ancho del boton*/
    margin: 10px 0 5px 0;      
    text-decoration: none;    /*propiedad para el margen del boton*/  
}
.boton:hover{  /*propiedad efecto de los botones*/
	background:red;
	color: green;
}

#cc{
	color:#1C1C1C;
	font-family: "Trebuchet MS";
}
/* ----------------esta es la parte de paginacion------------------------------------- */
.tabs{}
.tabs ul.paginacion{
	float: left;
	padding-bottom:24px;
	padding-left: 10px; 
	list-style-type: none;  /*quitar las viñetas de la lista*/
}
.tabs ul.paginacion li{
	padding-right: 1px;
	float: left;
}
.tabs ul.paginacion li a{
	display: block;
	position: relative;
	width: 32px;
	height: 32px;
	font-size: 15px;
	color: black;
	line-height: 32px;
	text-decoration: none;
	text-align: center;
	background: #E6E6E6;
	border: 1px solid #585858;
}
.tabs ul.paginacion .seleccionado a, .tabs ul.paginacion a:hover{
	background:#d82828;
}

/*----------- imagenes--------------------------------*/
.imagen img{
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;

}